<app-nav></app-nav>
<br>
<br>

<!--<div class="container">
<ol>
    <li *ngFor='let Student of students'>{{Student.name}} {{space}} {{Student.lastName}} <button class="accept" type="submit">Accept</button>
         <button class="decline" type="submit">Decline</button> <br><br></li>

</ol>
</div>
-->
<!--<h2>{{title}}</h2>
<div class="container" *ngFor='let Student of students'>
    <h4>{{Student.name}}</h4>
    <h4 class="prezime">{{Student.lastName}}</h4>
    <button class="accept" type="submit">Accept</button>
    <button class="decline" type="submit">Decline</button>
</div>-->
<router-outlet></router-outlet>
